.container {
	max-width: 960px;
	margin: 10px auto 0 auto;
}

.row {
	display: flex;
	justify-content: center;
}

[class^="col"] {
	border: 1px solid gray;
	padding: 5px;
}

.col {
	width: 8.333%;
}

.col-2 {
	width: 16.667%;
}

.col-3 {
	width: 24.999%;
}

.col-4 {
	width: 33.333%;
}

.col-5 {
	width: 41.666%;
}

.col-6 {
	width: 49.999%;
}

.col-7 {
	width: 58.333%;
}

.col-8 {
	width: 66.666%;
}

.col-9 {
	width: 74.999%;
}

.col-10 {
	width: 83.333%;
}

.col-11 {
	width: 91.666%;
}

.col-12 {
	width: 99.999%;
}

@media screen and (max-width: 720px) {
	.row {
		display: initial;
	}

	div {
		width: 100% !important;
	}
}
